body {
    background: #752a9b;
    background: linear-gradient(90deg,rgba(117, 42, 155, 1) 0%, rgba(156, 62, 62, 1) 50%, rgba(49, 86, 196, 1) 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: center;
    color: aliceblue;
}

.RelAlgHead {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.RelAlgBody {
    margin-right: 10%;
    margin-left: 10%;
    padding: 15px;
    border-radius: 65px;
    border: 5px solid rgb(255, 255, 255);
    margin-bottom: 2%;
}
.RelAlgMisc {
    margin-right: 10%;
    margin-left: 10%;
    padding: 15px;
    border-radius: 65px;
    border: 3px dotted rgba(255, 255, 255, 0.745);
    margin-bottom: 4%;
}

.JOINsHead {
    margin-left: 5%;
    margin-right: 5%;
}
.JOINsBody {
    margin-right: 10%;
    margin-left: 10%;
    padding: 15px;
    border-radius: 65px;
    border: 5px solid rgba(255, 255, 255, 0.745);
    margin-bottom: 2%;
}
.JOINsMisc {
    margin-right: 10%;
    margin-left: 10%;
    padding: 15px;
    border-radius: 65px;
    border: 3px dotted rgba(255, 255, 255, 0.745);
    margin-bottom: 2%;
}