body {
    background: #2b2a2c;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    list-style-position: inside;
}

.RelAlgHead {
    margin-left: 150px;
    margin-right: 150px;
    color: aliceblue;
    text-align: center;
}
.RelAlgBody {
    margin-right: 250px;
    margin-left: 250px;
    padding: 15px;
    border: 5px dashed rgba(30, 0, 255, 0.745);
    color: aliceblue;
    margin-bottom: 80px;
}

.JOINsHead {
    margin-left: 150px;
    margin-right: 150px;
    color: aliceblue;
    text-align: center;
}
.JOINsBody {
    margin-right: 250px;
    margin-left: 250px;
    padding: 15px;
    border: 5px dashed rgba(168, 11, 19, 0.745);
    color: aliceblue;
    margin-bottom: 80px;
}